  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Iniciar Sesion</h5>
            <form [formGroup]="form" (ngSubmit)="sendData($event)" class="form-signin" >
              <div class="form-label-group">
                <label for="exampleInputEmail1"></label>
                <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp" placeholder="Enter email">
                <div *ngIf="form.get('email').invalid && (form.get('email').dirty || form.get('email').touched)">
                    <div *ngIf="form.get('email').hasError('required')" class="alert alert-danger">
                        EMAIL IS REQUIRED
                    </div>
                    <div *ngIf="form.get('email').hasError('email')" class="alert alert-danger">
                        EMAIL IS INVALID
                    </div>
                </div>
            </div>
                <label for="inputEmail"></label>


                <div class="form-label-group">
                  <label for="exampleInputPassword1"></label>
                  <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1"
                      placeholder="Password">
                  <div
                      *ngIf="form.get('password').invalid && (form.get('password').dirty || form.get('password').touched)">
                      <div *ngIf="form.get('password').hasError('required')" class="alert alert-danger">
                          PASSWORD IS REQUIRED
                      </div>
                      <div *ngIf="form.get('password').hasError('minlength')" class="alert alert-danger">
                          MIN LENGHT 6
                      </div>
                  </div>
              </div>
              <a [routerLink]="['/register']"type="submit">Crear cuenta</a>


              <button [disabled]="form.invalid" class="btn btn-lg btn-info btn-block text-uppercase" type="submit">Ingresar</button>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
